<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "place" %>
    <%= form.text_field "place" %>
  </p>

  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>

  <p><%= form.submit %></p>
<% end %>